.page,
.main {
  margin: 0 auto;
}

.page {
  position: relative;
  min-width: 360px;
  max-width: 768px;
  min-height: 100vh;
  padding: 0 9px;
  color: var(--secondary-color);
  font-family: var(--main-font);
  background-color: var(--primary-color);
}

.header {
  padding-top: 40px;
  text-align: center;
}

.header__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  text-transform: uppercase;
}

.header__greeting {
  margin-top: 18px;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
}

.header__date {
  margin-top: 18px;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
}

.toolbar {
  display: flex;
  gap: 16px;
  width: 100%;
  margin-top: 18px;
}

.input-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--input-field);
  border-radius: 5px;
  padding: 7px 14px;
}

.input-wrapper:focus-within {
  outline: 2px solid var(--input-placeholder);
}

.input-wrapper__input {
  width: 100%;
  border: none;
  padding: 0 16px 0 0;
  outline: none;
  color: var(--input-field);
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background-color: inherit;
}

.input-wrapper__input::placeholder {
  color: var(--input-placeholder);
}

.sort__list {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 8px;
  box-shadow: var(--focus-light);
  color: #f7f7f7;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  background-color: var(--accent-color);
}

.sort__list:focus {
  outline: 0;
}

.sort__list:focus-visible,
.sort__list:hover {
  box-shadow: none;
  background-color: #534cc2;
}

.sort__item {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  box-shadow: none;
  color: var(--accent-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
  text-transform: none;
  background-color: #f7f7f7;
}

.sort__item:hover {
  color: inherit;
  background-color: #dbd9f9;
}

.theme-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 8px;
  outline: none;
  background-color: var(--accent-color);
}

.theme-button:hover,
.theme-button:focus-visible {
  box-shadow: var(--box-shadow);
  background-color: #5850DD;
}

.theme-button__image {
  width: 22px;
  height: 22px;
}

.main {
  max-width: 520px;
  margin-top: 30px;
}

.empty {
  visibility: visible;
  opacity: 1;
  text-align: center;
  transition: visibility 0s, opacity 0.6s;
  pointer-events: all;
}

.empty_hidden {
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  transition: visibility 0s 0.6s, opacity 0.6s;
  pointer-events: none;
}

.empty__text {
  font-family: var(--second-font);
  font-size: 20px;
  line-height: 100%;
}

.tasks-list .tasks-list__item:not(:last-child) {
  border-bottom: 1px solid var(--accent-color);
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  padding: 17px 0;
}

.task:hover .task__button-group {
  display: flex;
}

.task__text-group {
  display: flex;
  align-items: center;
  gap: 17px;
}

.task__checkbox {
  display: none;
}

.task__pseudocheckbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.task__pseudocheckbox::before {
  content: '';
  position: absolute;
  top: 3px;
  display: none;
  width: 15px;
  height: 15px;
  background-image: url(../svg/checked.svg);
}

.task__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
}

.task__checkbox:checked + .task__pseudocheckbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.task__checkbox:checked + .task__pseudocheckbox::before {
  display: block;
}

.task__checkbox:checked + .task__pseudocheckbox + .task__text {
  color: #8e8e8e;
  text-decoration: line-through;
}

.task__button-group {
  position: absolute;
  top: 21px;
  right: 0;
  display: none;
  gap: 10px;
}

.btn {
  width: 18px;
  height: 18px;
  background-color: transparent;
}

.btn:hover {
  transition: transform 0.3s ease;
  scale: 1.3;
}

.btn__icon {
  color: #cdcdcd;
}

.edit-button__icon:hover {
  color: var(--accent-color);
}

.delete-button__icon:hover {
  color: #e50000;
}

.add-button {
  position: absolute;
  right: 8px;
  bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: var(--focus-light);
  background-color: var(--accent-color);
}

.add-button:focus-visible,
.add-button:hover {
  background-color: #534cc2;
}

.add-button__image {
  width: 24px;
  height: 24px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  display: none;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgba(25, 25, 25, .7);
}

.modal_animated {
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s .6s, opacity .6s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  visibility: hidden;
}

.modal_is-opened {
  display: flex;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity .6s;
  visibility: visible;
}

.modal__content {
  width: 100%;
  max-width: 500px;
  min-height: 289px;
  border: 1px solid #f7f7f7;
  border-radius: 16px;
  padding: 18px 30px;
  text-align: center;
  background-color: var(--primary-color);
}

.modal__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.modal__input-wrapper {
  margin-top: 26px;
}

.modal__buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 128px;
}

.modal__button {
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 8px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}

.modal__button_cancel {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.modal__button_apply {
  background-color: var(--accent-color);
  color: #f7f7f7;
}

.input-wrapper:has(.error) {
  outline: 2px solid #ff0000;
  box-shadow: 0 0 5px 2px rgba(255, 0, 0, .7);
} 